@page
@model IndexModel
@using SchrodyWebApp.Extensions;
@{
    ViewData["Title"] = "Brad Reimer";
}

<section class="section">
    <div class="container-fluid">
        <!-- Split into two articles per row -->
        @foreach (var row in @Model.Articles.Split(2))
        {
            <div class="row">
                @foreach (var article in row)
                {
                    <div class="col-sm-6 mb-4">
                        <div class="card card-img text-light bg-dark text-right index-card-overlay" style="background-image: url(@article.ImageSource);">
                            <div class="py-5 px-4">
                                <h6><strong>@article.Category</strong></h6>
                                <h3 class="card-title py-3 font-weight-bold"><strong>@article.Title</strong></h3>
                                <p class="pb-3">@Html.Raw(article.Details)</p>
                                <a class="btn btn-success btn-rounded" href="@article.Link">@article.LinkText</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
