@page
@model StCuthbertsModel
@using SchrodyWebApp.Extensions;
@{
    ViewData["Title"] = "Tuning Out Cancer";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">A fundraiser and tribute to Jenni Driscoll-Holmes</p>
    <hr class="my-4">
    <p>A preview of the entrance leaflet, built for Christine Reimer.</p>
    <a class="btn btn-primary btn-lg" href="#inside" role="button">See Inside</a>
    <a class="btn btn-secondary btn-lg" href="#front" role="button">See Front</a>
    <a class="btn btn-secondary btn-lg" href="#back" role="button">See Back</a>
</div>

<h2><a id="inside"></a>Inside</h2>

<div class="container">
@foreach (var part in @Model.Show.Parts)
{
    <h1><span class="badge badge-pill badge-dark">@part.Description</span></h1>

    @foreach (var row in part.Presentations.SwapRowsAndColumns().ToArray().Split(2))
    {
        <div class="row mt-3">
        @foreach (var presentation in row)
        {
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <h2><span class="badge badge-pill badge-purple-ribbon">@presentation.Index</span></h2>
                    </div>
                    <div class="media-body ml-2">
                        <h4 class="media-heading text-uppercase m-0">@presentation.Title</h4>
                        <p class="m-0">@presentation.Name</p>
                        @if (!string.IsNullOrEmpty(@presentation.Accompanist))
                        {
                            <p class="font-weight-light font-italic m-0">Accompanied by @presentation.Accompanist</p>
                        }
                    </div>
                </div>
            </div>
        }
        </div>
    }

    @if (!part.IsLast)
    {
        <p>&nbsp;</p>
        <h1 class="text-center font-weight-light font-italic">Intermission</h1>
    }
}
</div>

<p>&nbsp;</p>

<h2><a id="front"></a>Front</h2>

<img src="images/stcuthberts/TuningOutCancer-Front.png" class="img-fluid">

<h2><a id="back"></a>Back</h2>

<img src="images/stcuthberts/TuningOutCancer-Back.png" class="img-fluid">
